.surface {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border: 4px solid var(--slategreen-color);
    border-radius: .9rem;
    padding: 1.4rem;
    text-align: left;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
    width: 100vw;   /* Full viewport width */
}