@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <a href="https://youtu.be/k_nyDx5z-cU">VIDEO LINK</a>
    <h2>Commands</h2>
    <p>cd ..</p>
    <p>cd Data</p>
    <h3>dotnet ef migrations add ChangedTheDatabaseName --context DataContext --startup-project ../Presentation.WebApp.Separated</h3>
    <p>cd ..</p>
    <p>cd Presentation.WebApp.Separated</p>
    <h3>dotnet ef database update --context DataContext</h3>
</div>