@page

@model IndexModel
@{
    UserService userService = new UserService();
    var users = userService.GetUsers();
    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn from the <a href="https://youtu.be/e4GkbuQpuUo">Introduction Video</a>.</p>
</div>