@{
    ViewData["Title"] = "Sign Up";
}

<div class="card bg-white">
    <div class="card-body">
        
        <form method="post" asp-controller="Auth" asp-action="HandleSignUp">
            <div class="mb-4">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-beige">SUBMIT</button>
            
        </form>
        
    </div>
</div>