/* _content/Presentation.WebApp/Views/Shared/_Layout.cshtml.rz.scp.css */
.center-screen[b-bupx0bjxtw] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
}
