@* @model ApplicationUser *@

<div id="userlist" class="card member">
    @* @foreach (var user in Model) *@
    @* { *@
        <div class="user-item">
            <div class="avatar">
                <img src="images/Avatars/avatar-male-001.svg" alt=""/>
            </div>
            <div class="user">
                <h4 class="name">Something Something</h4>
                <div class="role">Role: something</div>
            </div>
        </div>
    @* } *@
</div>