@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="card bg-white">
    <div class="card-body">
        
        <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
            <div class="mb-3">
                <label asp-for="FormData.FirstName" class="form-label">First Name</label>
                <input asp-for="FormData.FirstName" class="form-control">
                <span asp-validation-for="FormData.FirstName"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="FormData.LastName" class="form-label">Last Name</label>
                <input asp-for="FormData.LastName" class="form-control">
                <span asp-validation-for="FormData.LastName"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="FormData.Email" class="form-label">Email</label>
                <input asp-for="FormData.Email" class="form-control">
                <span asp-validation-for="FormData.Email"></span>
            </div>
            
            @* <div class="mb-3"> *@
            @*     <label asp-for="Password" class="form-label">Password</label> *@
            @*     <input asp-for="Password" class="form-control"> *@
            @*     <span asp-validation-for="Password"></span> *@
            @* </div> *@
            
            @* The value assignment here could be a potential security risk *@
            <div class="mb-3">
                <label asp-for="FormData.Password" class="form-label">Password</label>
                <input asp-for="FormData.Password" class="form-control" value="@Model?.FormData?.Password">
                <span asp-validation-for="FormData.Password"></span>
            </div>
            
            <div class="mb-5">
                <label asp-for="FormData.ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="FormData.ConfirmPassword" class="form-control" value="@Model?.FormData?.ConfirmPassword">
                <span asp-validation-for="FormData.ConfirmPassword"></span>
            </div>
            
            <div class="mb-3">
                <select asp-for="FormData.ClientId" class="form-control">
                    <option value="0" disabled selected>-- Select a Client --</option>
                </select>
                <span asp-validation-for="FormData.ClientId"></span>
            </div>
            
            <button type="submit" class="btn btn-beige">SUBMIT</button>
            
        </form>
        
    </div>
</div>