@{
    ViewData["Title"] = "Team Members";
}

<section id="team-members">
    <header>
        <h2>@ViewData["Title"]</h2>
        <button type="button" class="btn btn-add btn-blue">Add Member</button>
    </header>
</section>