@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" class="link-primary">building Web apps with ASP.NET Core</a>.</p>
    
    <div class="my-4">
        <a href="https://youtu.be/k_nyDx5z-cU" class="btn btn-info">Watch Video Tutorial</a>
    </div>

    <h2 class="mt-5">Commands</h2>
    <ul class="command-list">
        <li>cd ..</li>
        <li>cd Data</li>
        <li>dotnet ef migrations add ChangedTheDatabaseName --context DataContext --startup-project ../Presentation.WebApp.Separated</li>
        <li>cd ..</li>
        <li>cd Presentation.WebApp.Separated</li>
        <li>dotnet ef database update --context DataContext</li>
    </ul>
</div>